<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEntityWCFService" />
      </basicHttpBinding>
    </bindings>-->

    <!--<client>

    </client>-->
    
    <!--<services>
      <service name="CompanyWcfServices.CompanyWcfService" behaviorConfiguration="ServiceBehavior">

        <endpoint address="http://localhost/WCFService/EntityWCFService.svc"
                  binding="basicHttpBinding" 
                  bindingConfiguration="BasicHttpBinding_IEntityWCFService"
                  contract="EntityWCFService.IEntityWCFService" 
                  name="BasicHttpBinding_IEntityWCFService">
        </endpoint>

        <endpoint address=""
                  binding="webHttpBinding"
                  contract="CompanyWcfServices.ICompanyWcfService"
                  behaviorConfiguration="webHttpEndpointBehavior" >
                  <identity>
                    <dns value="localhost"/>
                  </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
      </service>
    </services>-->


    
    <!--<behaviors>
      <endpointBehaviors>
        <behavior name ="webHttpEndpointBehavior">
          <webHttp helpEnabled ="true" faultExceptionEnabled="true" automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>-->



  </system.serviceModel>
</configuration>